* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dancer-color: white;

}

.html {
    font-size: 62.5%;
    
}

.header_1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
}

.logo {
    width: 130px;
    height: 80%;
}

.dancer {
    height: 600px;
    background-color: rgb(122, 122, 224);
    display: flex;
    color: var(--dancer-color)
    /* background-image: url(../IMAGES/premium_dancer.png); */
    /* background-repeat: no-repeat; */

}

.menu_icono {
    height: 50px;
    width: 50px;
}

