
.header_1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
}

.logo {
    width: 130px;
    height: 80%;
}

.menu_icono {
    height: 50px;
    width: 50px;
}
